.wrap-add-space {
  // @include flex(column, center, center);
  width: 28.75rem;
  height: 37.5rem;
  background: $color-white;
  box-shadow: 0px 2px 7px rgba(1, 1, 51, 0.06);
  border-radius: 8px;

  &-header {
    @include flex(row, flex-end, center);
    padding: 2.5625rem 2.5625rem 0 0;
    color: $color-gray4;
  }
}
