.wrap-add-space-step2 {
    margin-top: 8.9375rem;
    // margin-left: 7.375rem;
    @include flex(column, center,center);
    .input-space-name {
        font-size: 32px;
        line-height: 40px;
        caret-color: $color-gray8;
        color: $color-gray9;
        width: 16.125rem;

    }

    .next {
        .iconfont {
            background-color: $theme-color-lighter;
            border-radius: 1.25rem;
            padding: 1.25rem;
            margin-top: 14rem;
        }
    }


}

.button-space-name {

    background: $theme-color-lighter;
    border-radius: 20px;
}


::placeholder {
    // font-size: 3.5rem;
    height: 6.25rem;
    line-height: 6.25rem;
    color: $color-gray6;
    padding-left: 8px;
    font-weight: normal;
}