.card{
    padding: 24px;
    background-color: $color-bg-gray;
    border-radius: 32px;
    width: 188px;
    margin-bottom: 12px;
    .title{
        font-size: 16px;
        color: $color-gray8;
        @include flex(row,flex-start,center);
        .desc{
            width:130px;
        }
     
        .iconfont{
        margin: 0 6px 0 13px;
        color: $color-gray6;
        }
        .count{
            font-size: 12px;
            color: $color-gray6;
        }  
        }
         .creater,.users{
        @include flex(row,flex-start,center)
    }
    
    .creater{
        font-size: 12px;
        color: $color-gray6;
        margin: 8px 0 16px 0;
        .point{
            margin: -8px 5px 0;
        }
    }

}
.card:not(.active){
  .desc{
      @include multiEllipsis(1);
  }
}
.card.active{
    background-color: $color-white;
    box-shadow: $shadow-1;
    .title{
        width: 148px;
        font-weight: 500;
        color: $color-gray9;
        word-wrap: break-word;
        word-break: break-all;
        
    }
   
    .avatar{
        width: 28px;
        height: 28px;
        border-radius: 12px;
    }
}
.wrap-cards{
    font-size: 16px;
}