.wrap-logo {
    width: 100%;
    @include flex(row, center, center);

    .avator {
        width: 40px;
        height: 40px;
    }

    .splitor {
        // opacity: 0.5;
        margin: 0 25px;
        height: 30px;
        width: 1px;
        background-color: rgba(9, 9, 61, 0.45);
        transform: rotate(30deg);
    }

    .userName {
        margin-left: 25px;

    }

    .iconheader_flash {
        margin-left: 54px;
        background: linear-gradient(191.31deg, #0B0B3D 0.86%, rgba(11, 11, 61, 0.4) 102.4%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: rotate(-8deg);
        ;
    }
}

.wrap-logo-menu {
    width: 11.25rem;

    .items {
        .item {
            margin-bottom: 1rem;
            @include flex(row, space-between, center);

            .name {
                margin-left: 1rem;
                flex: 1;
                .userName {
                    font-size: .75rem;
                    color: $color-gray9;
                }

                .desc {
                    font-size: .625rem;
                    color: $color-gray6;
                }
            }

            .avator {
                width: 2rem;
                height: 2rem;
            }
            .iconfont{
                width: .875rem;
                font-size:.5625rem;
                color: #2E2E58;
            }
        }

        .create-space {
            margin-top: .125rem;
            font-size: .75rem;
            margin-left: 2.75rem;
            color: $color-gray7;
        }
        .line{
            height: .0625rem;
            margin-top: 1rem;
            background-color: $color-gray7;
            opacity: .2;
        }
    }
    .setting{
        margin-left: 2.75rem;
        padding-top: .125rem;
        .set{
            margin-top: 1rem;
        }
        .logoout{
            color: $color-gray7;
        }
    }
}