.wrap-login-password{
    @include flex(column);
    input{
        height: 5.5rem;
        width: 30.5rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        box-sizing: border-box;
        opacity: .95;
        color: $color-gray9;
        padding-left: 3.5rem;
        caret-color: $color-gray8;
       
    }
    ::placeholder {
        // font-size: 3.5rem;
        font-size: 1.5rem;
        color: $color-gray6;
        padding-left: 8px;
        font-weight: normal;
    }
    
}