
$theme-color: #ED6C00;
$dangerous-color: #F72B44;
$theme-color-light: #FA8919;
$theme-color-lighter: #FFDA1A;;
$bg-calendar-task:#fbe2cc;
$color-black:#000000;


$color-fresh: #07cfda;
$color-fresh-light: #1d8091;
$color-fresh-regular:#5bbdce;

//文本色
$color-text-primary: #4A4A4A;
$color-text-regular:#666666;
$color-text-light:#737373;
$color-text-secondary:#999999;
$color-text-placeholder: #a9a9a9;
$color-text-almost-black: #212121;
$color-text-purple-grey: #8590a6;

//边框色
$color-bd-base: #bfbfbf;
$color-bd-light: #cdc9c5;
$color-bd-lighter:#adadad;
$color-bd-regular: #d8d8d8;
$color-bd-extra-light: #ededed;
$color-bd-title: #ebebeb;
$color-bd-input: #f0f0f0;

// 背景色
$color-bg-gray: rgba(255, 255, 255, 0.6);
$color-bg-normal:  #F7F7F9;

$color-bg-base:  #f3f3f3;
$color-bg-light: #f8f8f9;
$color-bg-lighter: #fcfcfb;
$color-white:#ffffff;

// 图标色
$color-icon-success: #70b839;
$color-icon-light: #dddddd;

$color-gray10:#262F3A;
$color-gray9: rgba(13, 13, 61, 0.86);
$color-gray8: rgba(11, 11, 61, 0.64);
$color-gray7: rgba(9, 9, 61, 0.45);
$color-gray6:rgba(6, 6, 61, 0.3);
$color-gray3:rgba(2, 2, 82, 0.03);
$color-gray4:rgba(2, 2, 82, 0.12);

$color-blue3:rgba(116, 171, 255, 0.72);

$shadow-1: 0px 2px 7px rgba(1, 1, 51, 0.06);