.container-main {
    height: 100%;
    background-color: $color-bg-normal;
    @include flex(row);
}

.main {
    margin-top: 31px;
    flex: 1;
    padding-right: 36px;
}
.cards{
    margin-top: 30px;
}

