.module-div{
    display: block;
}

    
.module-img{
    background: #EDEDF3;
    border-radius: 6px;
    margin-right: 56px;
}

.module-name{
    text-align: center;
    font-weight: 600;
    margin-right: 56px;
    margin-top: 16px;
    color: rgba(11, 11, 61, 0.64);
}