.module-div{
    display: block;
    width: 152px;
    height: 154px;
    margin: 0;
    text-align: center;
    border-radius: 12px;
    &:hover{
        background: #EDEDF3;
    }

    .module-img{
        border-radius: 6px;
        &:hover{
            background: #EDEDF3;
        }
    }
    
    .module-name{
        font-weight: 600;
        margin-top: 16px;
        color:$color-gray8;
    }
}

    


