.wrap-add-channel {
    height: 100%;
    @include flex(column);

    .main {
        margin: 234px 0 0 149px;

        input {
            // width: 25rem;
            max-width: 42.5rem;
            height: 6.25rem;
            font-size: 3.5rem;
            caret-color: $color-gray8;
            color: $color-gray9;
            font-weight: 500;

        }

        .input {
            @include flex(row, flex-start, center);

            .next {
                @include flex(row,center,center);
                
                margin-left: 6.25rem;
                background-color: $theme-color-lighter;
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 1.25rem;
                .iconfont{
                    font-size: 1.75rem;
                }
            }
        }

        ::placeholder {
            // font-size: 3.5rem;
            height: 6.25rem;
            line-height: 6.25rem;
            color: $color-gray6;
            padding-left: 8px;
            font-weight: normal;
        }

        .msg {
            @include flex(row, flex-start, center);

            .desc {
                margin-left: 2rem;
                font-size: .875rem;
                color: $color-gray7;
            }
        }

    }

    .close {
        color: $color-gray4;
        width: 100%;
        @include flex(row, flex-end);

        .iconfont {
            margin-top: 4.0625rem;
            margin-right: 5rem;
        }
    }

    .suggestion {
        margin-top: 9.625rem;

        .desc {
            color: $color-gray7;
            font-weight: 500;
        }
    }

}