@import url(//at.alicdn.com/t/font_1676649_v1738p7xsdi.css);
@import  './styles/global.scss';
#root {
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: flex;
  flex-direction: column;
}