@import url(//at.alicdn.com/t/font_1676649_0ffz83jhsj0s.css);
@import  './styles/global.scss';
@import  './styles/animation.scss';
#root {
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: flex;
  flex-direction: column;
}