.wrap-navigator {
    @include flex(row, space-between, center);
    padding-left: .625rem;

    .left,
    .right {
        @include flex(row, flex-start, center);
    }

    .item {
        font-size: 1.25rem;
        color: $color-gray6;
        margin-right: 32px;

        &.active {
            font-weight: 500;
            color: $color-gray9;
        }
    }

    .iconfont {
        font-size: 1rem;
        color: $color-gray10;
    }

    .right {
        color: $color-gray8;

        .iconfont {
            cursor: pointer;
        }

        .iconfont:not(.iconaddboard) {
            margin-right: 1.5625rem;
            font-size: 1.25rem;
        }

        .add {
            width: 2.25rem;
            height: 2.25rem;
            background-color: $theme-color-lighter;
            @include flex(row, center, center);
            border-radius: 12px;
            box-shadow: $shadow-1;
        }

        .iconaddboard {
            font-size: .9375rem;
            color: $color-gray10;
        }
    }
}