.wrap-navigator {
    @include flex(row, space-between, center);
    padding-left: 10px;

    .left,
    .right {
        @include flex(row, flex-start, center);
    }

    .item {
        font-size: 20px;
        color: $color-gray6;
        margin-right: 32px;

        &.active {
            font-weight: 500;
            color: $color-gray9;
        }
    }

    .iconfont {
        font-size: 16px;
        color: $color-gray10;
    }

    .right {
        color: $color-gray8;
        .iconfont:not(.iconaddboard){
            margin-right: 25px;
            font-size: 20px;
        }
        .add {
            width: 36px;
            height: 36px;
            background-color: $theme-color-lighter;
            @include flex(row,center,center);
            border-radius: 12px;
            box-shadow: $shadow-1;
        }

        .iconaddboard {
            font-size: 15px;
            color: $color-gray10;
        }
    }
}